# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.env.*
!*.env.example

# Ignore Docker data
postgres_data/

# Ignore IDE/editor settings
.vscode/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db
